@font-face {
  font-family: Din;
  src: url(../dinlight.ttf); }

@font-face {
  font-family: Futura;
  src: url(../futuralight.ttf); }

html {
  height: 100%;
  width: 100%; }
  html body {
    margin: 0;
    padding: 0;
    font-family: Din, sans-serif;
    background: url("../images/background1.jpeg") no-repeat fixed;
    background-size: cover;
    color: #fafafa; }
    html body header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 50px;
      background-color: #fafafa;
      z-index: 99; }
      html body header nav {
        height: 100%;
        width: 800px;
        margin: auto; }
        html body header nav a {
          display: inline-block;
          float: left;
          height: 33px;
          padding-top: 17px;
          font-size: 16px;
          text-align: center;
          width: 16.6%;
          text-decoration: none;
          color: #2c2c2c; }
          html body header nav a:hover {
            text-decoration: underline;
            background-color: #dfdfdf; }
    html body .section {
      width: 100%; }
    html body section.home {
      height: 800px;
      background-color: rgba(30, 30, 30, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      html body section.home h1 {
        font-family: Cookie, sans-serif;
        font-weight: 100;
        font-size: 90px;
        margin-bottom: 15px; }
      html body section.home p {
        font-family: Futura, sans-serif;
        font-size: 20px;
        letter-spacing: 2px; }
      html body section.home nav {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 40px; }
        html body section.home nav a {
          width: 40px;
          height: 40px;
          background-size: contain;
          margin: auto 7px auto 7px; }
          html body section.home nav a:hover {
            opacity: 0.8; }
        html body section.home nav .printerest {
          background-image: url("../images/printerest-icon.png"); }
        html body section.home nav .instagram {
          background-image: url("../images/instagram-icon.png"); }
        html body section.home nav .facebook {
          background-image: url("../images/facebook-icon.png"); }
    html body section.product {
      height: 600px;
      background-color: #2c2c2c;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      html body section.product h1 {
        width: 100%;
        text-align: center;
        height: 35px;
        font-family: Din, sans-serif;
        font-size: 35px; }
        html body section.product h1::after {
          content: "";
          width: 50px;
          height: 3px;
          position: absolute;
          margin-left: -112px;
          margin-top: 50px;
          background-color: #fafafa; }
      html body section.product .products {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin: 50px auto; }
        html body section.product .products li {
          height: 100%;
          width: 280px;
          margin: auto 10px auto 10px;
          float: left;
          list-style: none; }
          html body section.product .products li div.icon {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100px; }
            html body section.product .products li div.icon.rose {
              background-image: url(../images/rose.png); }
            html body section.product .products li div.icon.home {
              background-image: url(../images/home.png); }
            html body section.product .products li div.icon.barrow {
              background-image: url(../images/barrow.png); }
          html body section.product .products li h3 {
            margin-top: 20px;
            margin-bottom: 10px;
            width: 100%;
            height: 20px;
            text-align: center; }
          html body section.product .products li p.description {
            width: 60%;
            margin-left: 20%;
            text-align: center;
            height: 200px; }
    html body section.gallery {
      height: 700px;
      background-color: #2c2c2c;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      html body section.gallery div.gallery-content {
        height: 621px;
        width: 900px;
        margin: auto;
        position: relative;
        display: block; }
        html body section.gallery div.gallery-content div {
          display: block;
          position: absolute;
          margin: 3px;
          background-color: aqua;
          z-index: 50; }
          html body section.gallery div.gallery-content div:hover {
            opacity: 0.7; }
          html body section.gallery div.gallery-content div:nth-of-type(1) {
            height: 300px;
            width: 400px;
            top: 0;
            left: 0; }
          html body section.gallery div.gallery-content div:nth-of-type(2) {
            height: 100px;
            width: 150px;
            top: 0;
            left: 403px; }
          html body section.gallery div.gallery-content div:nth-of-type(3) {
            height: 100px;
            width: 150px;
            top: 103px;
            left: 403px; }
          html body section.gallery div.gallery-content div:nth-of-type(4) {
            height: 203px;
            width: 338px;
            top: 0;
            left: 556px; }
          html body section.gallery div.gallery-content div:nth-of-type(5) {
            height: 203px;
            width: 335px;
            top: 206px;
            left: 403px; }
          html body section.gallery div.gallery-content div:nth-of-type(6) {
            height: 203px;
            width: 153px;
            top: 206px;
            left: 741px; }
          html body section.gallery div.gallery-content div:nth-of-type(7) {
            height: 203px;
            width: 338px;
            top: 412px;
            left: 556px; }
          html body section.gallery div.gallery-content div:nth-of-type(8) {
            height: 203px;
            width: 338px;
            top: 412px;
            left: 215px; }
          html body section.gallery div.gallery-content div:nth-of-type(9) {
            height: 106px;
            width: 185px;
            top: 303px;
            left: 215px; }
          html body section.gallery div.gallery-content div:nth-of-type(10) {
            height: 312px;
            width: 212px;
            top: 303px;
            left: 0; }
    html body section.about {
      background: url(../images/texture.jpg) center;
      height: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      html body section.about div.content {
        background-color: #000;
        height: 400px;
        width: 650px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        html body section.about div.content h1 {
          width: 100%;
          text-align: center;
          height: 35px;
          font-family: Din, sans-serif;
          font-size: 35px;
          margin-top: 0; }
          html body section.about div.content h1::after {
            content: "";
            width: 50px;
            height: 3px;
            position: absolute;
            margin-left: -67px;
            margin-top: 50px;
            background-color: #fafafa; }
        html body section.about div.content p {
          text-align: center;
          width: 500px;
          margin: 10px auto 10px auto;
          display: block;
          font-family: Din, sans-serif; }
    html body section.shows {
      height: 500px;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      html body section.shows a {
        margin: auto;
        font-family: Din, sans-serif;
        border: 3px solid #2c2c2c;
        color: #2c2c2c;
        border-radius: 0;
        background-color: #fafafa;
        font-size: 22px;
        padding: 15px 45px 15px 45px;
        text-decoration: none; }
    html body section.contact {
      background: url(../images/texture.jpg) center;
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      html body section.contact div.content {
        background-color: #1f1f1f;
        height: 400px;
        width: 650px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        html body section.contact div.content h1 {
          width: 100%;
          text-align: center;
          height: 35px;
          font-family: Din, sans-serif;
          font-size: 35px;
          margin-top: 0; }
          html body section.contact div.content h1::after {
            content: "";
            width: 50px;
            height: 3px;
            position: absolute;
            margin-left: -100px;
            margin-top: 50px;
            background-color: #fafafa; }
        html body section.contact div.content p {
          text-align: center;
          width: 500px;
          margin: 10px auto 10px auto;
          display: block;
          font-family: Din, sans-serif; }
    html body footer {
      height: 100px;
      background-color: #2c2c2c; }
